@import url(variables.css);

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', 'sans-serif';
}
button {
    border: none;
}
body{
    width: 100%;
    font-size: 18px;
}

header{
    width: 100%;
    height: 10vh;
    background-color: var(--color-vinotinto);
    position: fixed;
    top: 0;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav .icono{
    display: none;
}
header nav ul{
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header nav button{
    background-color: var(--color-verde);
    width: 5em;
    height: 2em;
}
header nav ul a{
    color: var(--color-blanco);
}

main section{
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
    background-color: var(--color-crema);
}
main .pag1{
    height: 90vh;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ilera img texto"
    ;
}
main .pag1 .ilera{
    height: 80vh;
    grid-area: ilera;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main section .ilera img{
    margin-left: 2em;
    outline: solid var(--color-vinotinto);
    width: 10em;
    height: 10em;
}
main .pag1 .img{
    height: 90vh;
    grid-area: img;
    display: flex;
    width: 35em;
    height: 40em;
    margin-top: 3em;

}
main section.img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main .pag1 .texto {
    margin-top: 3em;
    grid-area: texto;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 35vw;
    justify-content: space-around;
}

main .colores  {
    display: flex;
    width: 10em;
    justify-content: space-between;
}
main .colores div{
    width: 2em;
    height: 2em;
    outline: solid var(--color-negro);
    border-radius: 50px;
}
main section .precio p{
    color: var(--color-verde);
    font-size: 2em;
}
main section .btn button{
    background: var(--color-verde);
    width: 8em;
    height: 3em;
    color: var(--color-blanco);
    border: none;
}
button:hover{
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px var(--color-verde);
}
main .colores .azul{
    background-color: var(--color-azul);
}
main .colores .verde{
    background-color: var(--color-verde);
}
main .colores .amarillo{
    background-color: var(--color-amarillo);
}
main .colores .naranja{
    background-color: var(--color-naranja);
}
main .colores .morado{
    background-color: var(--color-morado);
}

main .pag2{
    height: 90vh;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ilera2 img2 texto2"
    ;
}
main .pag2 .ilera{
    height: 80vh;
    grid-area: ilera2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main .pag2 .img{
    height: 90vh;
    grid-area: img2;
    display: flex;
    width: 35em;
    height: 40em;
    margin-top: 3em;
}
main .pag2 .texto {
    margin-top: 3em;
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 35vw;
    justify-content: space-around;
}
main .pag3{
    height: 90vh;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ilera3 img3 texto3"
    ;
}
main .pag3 .ilera{
    height: 80vh;
    grid-area: ilera3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main .pag3 .img{
    height: 90vh;
    grid-area: img3;
    display: flex;
    width: 35em;
    height: 40em;
    margin-top: 3em;
}
main .pag3 .texto {
    margin-top: 3em;
    grid-area: texto3;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 35vw;
    justify-content: space-around;
}

main .pag4{
    height: 90vh;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ilera4 img4 texto4"
    ;
}
.aviso{
    display: none;
}
main .pag4 .ilera{
    height: 80vh;
    grid-area: ilera4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main section .texto button{
    background-color: var(--color-verde);
    width: 5em;
    height: 2em;
}
.obtener{
    display: none;
}
.obtenervisible{
    margin-top: 10vh;
    margin-left: 5vw;
    display: flex;
    position: fixed;
    width: 40vh;
    height: 40vh;
    outline: solid var(--color-vinotinto);
    background-color: var(--color-crema);
    flex-direction: column;
    justify-content: space-evenly;
    font-size: .8em;
}
.obtenervisible img{
    width: 3em;
    height: 4em;
}
.obtenervisible button{
    background-color: var(--color-verde);
    width: 5em;
    height: 2em;
}
.verdetalles{
    margin-top: 10vh;
    margin-left: 25vw;
    display: flex;
    position: fixed;
    width: 40vh;
    height: 40vh;
    outline: solid var(--color-vinotinto);
    background-color: var(--color-crema);
    flex-direction: column;
    justify-content: space-evenly;
    
}
.verdetalles .container{
    height: 25vh;
    overflow-y: scroll;
    width: 100%;
}
.verdetalles .container .item{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.verdetalles img{
    width: 3em;
    height: 4em;
}
.verdetalles .container{
    font-size: .8em;
}
.verdetalles .container h3{
    font-size: .8em;
}
.verdetalles button{
    background-color: var(--color-verde);
    width: 5em;
    height: 2.5em;
}
main .pag4 .img{
    height: 90vh;
    grid-area: img4;
    display: flex;
    width: 35em;
    height: 40em;
    margin-top: 3em;
}
main .pag4 .texto {
    margin-top: 3em;
    grid-area: texto4;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 35vw;
    justify-content: space-around;
}
@media (width <= 800px) {
    body {
        font-size: 15px;
    }
    header{
        height: 8vh;
    }
    header nav ul{
        display: none;
    }
    header nav .icono{
        display: flex;
        height: 4em;
        align-items: center;
        justify-content: center;
    }
    header nav .icono button {
        background-color: var(--color-crema);
        width: 1.5em;
        height: 1.5em;
        border: none;
        font-size: 2em;
    }
    header .visible
    {
        display: flex;
        background-color: var(--color-vinotinto);
        height: 50vh;
        flex-direction: column;
    }
    main .pag1 .ilera{
        height: 50vh;
        grid-area: ilera;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    main section .ilera img{
        margin-left: 2em;
        outline: solid var(--color-vinotinto);
        width: 3em;
        height: 3em;
    }
    main .pag1{
        height: 100vh;
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "ilera img "
        "texto texto"
        ;
    }
    main .pag1 .img{
        margin-top: 2em;
        margin-left: 3em;
        height: 30vh;
    }
    .verdetalles img{
        width: 3em;
        height: 4em;
    }
    img {
        width: 15em;
        height:18em;
    }
    main .pag1 .texto {
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        height:40vh;
        width: 50%;
        justify-content: space-around;
        margin-left: 1em;
    }
    main .colores{
        width: 20vw;
        padding: 10px;
    }
    main .colores div{
        width: 1em;
        height: 1em;
    }
    main section .precio p{
        font-size: 1em;
    }
    main section .btn{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    main section .btn button{
        background: var(--color-verde);
        width: 5em;
        height: 2em;
        color: var(--color-blanco);
        border: none;
    }
    main .pag2{
        padding-top: 6em;
        height: 100vh;
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "ilera2 img2 "
        "texto2 texto2"
        ;
    }
    main .pag3{
        padding-top: 10em;
        height: 100vh;
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "ilera3 img3 "
        "texto3 texto3"
        ;
    }
    main .pag4{
        padding-top: 15em;
        height: 150vh;
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "ilera4 img4 "
        "texto4 texto4"
        ;
    }
    main .pag2 .ilera{
        height: 50vh;
        grid-area: ilera2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    main .pag2 .img{
        margin-top: 2em;
        margin-left: 3em;
        grid-area: img2;
        height: 30vh;
    }
    main .pag2 .texto {
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        grid-area: texto2;
        height:40vh;
        width: 50%;
        justify-content: space-around;
        margin-left: 1em;
    }
    main .pag3 .ilera{
        height: 50vh;
        grid-area: ilera3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    main .pag3 .img{
        margin-top: 2em;
        margin-left: 3em;
        grid-area: img3;
        height: 30vh;
    }
    main .pag3 .texto {
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        grid-area: texto3;
        height:40vh;
        width: 50%;
        justify-content: space-around;
        margin-left: 1em;
    }
    main .pag4 .ilera{
        height: 50vh;
        grid-area: ilera4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    main .pag4 .img{
        margin-top: 2em;
        margin-left: 3em;
        grid-area: img4;
        height: 30vh;
    }
    main .pag4 .texto {
        margin-top: -30em;
        display: flex;
        flex-direction: column;
        grid-area: texto4;
        height:40vh;
        width: 50%;
        justify-content: space-around;
        margin-left: 1em;
    }
}